Base64 flavor not specified

In [section 14](https://tools.ietf.org/html/draft-oberstet-hybi-tavendo-wamp-02#section-14) (_Binary conversion of JSON Strings_), the spec does not specify which flavor of Base64 to use. Wikipedia lists [quite a number](https://en.wikipedia.org/wiki/Base64#Variants_summary_table) of Base64 variants.

The HTML 5 spec, [section 6.2](http://dev.w3.org/html5/spec-LC/webappapis.html#atob) (_Base64 utility methods_), references [RFC-4648](http://tools.ietf.org/html/rfc4648) (_The Base16, Base32, and Base64 Data Encodings_).

Since this is, after all, the **Web Application** Messaging Protocol, I think we should adopt RFC-4648 as well for the JSON encoding of binary data.

We should further specify that it's the "standard" Base 64 encoding, as per Section 4 of RFC-4648.

Oh, interesting. I wasn't aware that there is such a variety of base64 flavors.

Yes, referencing an RFC makes sense. It seems, there are 2 RFCs in this area: RFC4648 and RFC3548.

E.g. Python claims support for RFC3548 in the respective stdlib module: https://docs.python.org/2/library/base64.html

According to [this](http://tools.ietf.org/html/rfc4648#section-13), nothing has changed dramatically between 3548 and 4648 ..



Wikipedia says that RFC 4648 "obsoletes RFC 3548", or, put another way, RFC 3548 is superseded by  RFC 4648. Python is probably compliant with RFC 4648, an opinion shared by this [SO comment](http://stackoverflow.com/questions/11659291/rfc-4648-base64-implementation-in-python#comment23670841_11659319).

Ah, good. So ..

> We should further specify that it's the "standard" Base 64 encoding, as per Section 4 of RFC-4648.

+1